@inherits LayoutComponentBase

<div class="page-wrapper">
    @* Menu no topo *@
    <header>
        <NavMenu />
    </header>

    <main>
        @* Barra de contexto (opcional, como na Ficha 9) *@
        <div class="top-context px-4 py-2 text-end border-bottom bg-light">
            <small class="text-muted">ISEC - Programação Web 2025/26</small>
        </div>

        <article class="content px-4">
         
            <div class="container-fluid py-2">
                @Body
            </div>
        </article>
    </main>
</div>