.bg-dark-custom {
    /* Gradiente inspirado na Ficha 9, mas aplicado horizontalmente */
    background-image: linear-gradient(90deg, #102a43 0%, #243b53 100%);
    min-height: 60px;
}

.navbar-brand {
    font-weight: 800;
    color: #ffc107 !important; /* Destaque em amarelo/laranja */
}

.nav-item ::deep a {
    color: #cbd5e0 !important;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
}

    .nav-item ::deep a:hover {
        color: white !important;
    }

    /* O "Pulo do Gato": Destaque no item ativo em menu horizontal */
    .nav-item ::deep a.active {
        color: white !important;
        font-weight: bold;
        border-bottom: 3px solid #ffc107; /* Linha amarela por baixo do link */
    }

.nav-item ::deep span {
    margin-right: 6px;
}
