@using RCLComum.DTOs
@using Microsoft.AspNetCore.Components
@using RCLComum.Interfaces
@using System.Globalization

@inject NavigationManager NavigationManager

@inject ICarrinhoService CarrinhoService
@* Se o produto tiver imagem, mostramos o cartão *@
@if (ProdutoItem != null)
{
    @* Usamos o ImagemUrl que já tens no DTO para o fundo *@
    <div title="@ProdutoItem.Nome" class="card-produto overflow-hidden"
         style="background-image:url('@ProdutoItem.ImagemUrl'); @MarginLeft;">

        <div class="card-overlay">

            <div class="card-content text-center mb-2">
                <h5 class="mb-0 fw-bold text-white text-shadow">@ProdutoItem.Nome</h5>
                <p class="mb-0 text-warning fw-bold text-shadow fs-5">@ProdutoItem.Preco.ToString("C", new CultureInfo("pt-PT"))</p>
            </div>

            <div class="footer-button d-grid gap-2 px-2 pb-3">

                <button class="btn btn-success btn-sm rounded-pill fw-bold" @onclick="AdicionarAoCarrinho">
                    <i class="bi bi-cart-plus me-1"></i> Adicionar ao Carrinho
                </button>

                <button class="btn btn-light btn-sm rounded-pill fw-bold" @onclick="VerDetalhes">
                    <i class="bi bi-search me-1"></i> Ver Detalhes
                </button>

            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Produto ProdutoItem { get; set; }

    // Esta margem vem do pai (Carousel) e é o que faz o slider mexer
    [Parameter]
    public string MarginLeft { get; set; }

    private void VerDetalhes()
    {
        // Navega para a página passando o ID do produto
        NavigationManager.NavigateTo($"/produto/{ProdutoItem.Id}");
    }
    private void AdicionarAoCarrinho()
    {
        CarrinhoService.AdicionarProduto(ProdutoItem);
        // Opcional: Mostrar um "Toast" ou alerta pequeno a dizer "Adicionado!"
    }
}