.home-fullscreen {
    background-color: #fdfaf5; /* Bege Ficha 9 */
    flex: 1;
    width: 100%;
}

/* Estilo do Slider */
.slider-content {
    height: 400px;
    display: flex;
    align-items: center;
    color: white;
    background-size: cover;
    background-position: center;
}

/* Cores de fundo para os slides (podes trocar por imagens depois) */
.s1 {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), #4a7c44;
}

.s2 {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), #243b53;
}

.slider-content h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

/* Ajuste dos ícones inferiores */
.info-box i {
    color: #d4a373;
}

.info-box h5 {
    font-weight: 700;
    color: #243b53;
}
