@page "/"
@using RCLComum.DTOs
@using RCLComum.Services
@using RCLComum.Pages 
@using RCLComum.Interfaces
@* Certifica-te que importas o namespace onde criaste os componentes acima *@

@inject IApiServices ApiServices

<PageTitle>MyColl - A Minha Coleção</PageTitle>

<div class="container-fluid">
    
    <SlideProdutoComponent ProdutoDestaque="@Destaque" />

    <h3 class="mt-5 mb-3">A Tua Coleção</h3>
    
    <CardsCarousel />

</div>

@code {
    private Produto? Destaque { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Pedimos um destaque aleatório (tens de ter este método no ApiService)
        // Se não tiveres "Random", pede "GetProdutos" e faz Random aqui
        var response = await ApiServices.GetProdutosAsync();
        
        if(response.Sucesso && response.Data != null && response.Data.Any())
        {
            var rnd = new Random();
            Destaque = response.Data[rnd.Next(response.Data.Count)];
        }
    }
}