@page "/"

<PageTitle>Gestão de Loja</PageTitle>

<div class="text-center mt-5">
    <h1 class="display-4 fw-bold text-primary">Gestão de Loja</h1>
    <p class="lead text-muted">Bem-vindo à área administrativa.</p>
</div>